<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ITsistemi" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Fakultet1;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
  <add name="ITsistemi.Properties.Settings.Fakultet1ConnectionString"
   connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Fakultet1;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>